<!DOCTYPE html>
<html ng-app="tictactoeApp">
<head>
  <meta charset="UTF-8">
  <title>Tic tac toe - Angularized</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/ticTacToeController.js"></script>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body ng-controller="TicTacToeController as movements">
<!-- Angular is working if 2 + 3 = {{ 2 + 3}} -->
  <div id="container">
      <div id="board">
       <h1>Tic Tac Toe Game</h1>
        <form id="add-move" class="form" ng-submit="movements.add()">
          <button class="sqr" ng-repeat="square in movements.squares" ng-click="movements.newMove.move = square; a = square" ng-init="a = '-'">{{ a }}</button>
        </form>
      </div>
      <p ng-if="movements.equals === true">A winner!</p>
    </div>
  </div>
 </body>
</html>